@import url(<linkrel="preconnect"href="https://fonts.googleapis.com"><linkrel="preconnect"href="https://fonts.gstatic.com"crossorigin><linkhref="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap"rel="stylesheet">);

:root {
  --primary-color: #171a26;
  --secondary-color: #6440ab;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: "Roboto Mono", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 20px;
  color: #fff;
  font-size: 18px;
}

body.modal-open {
  overflow: hidden;
  position: fixed;
}

.crypto-logo {
  text-align: center;
  margin-top: 50px;
}

.crypto-logo img {
  width: 300px;
  margin: 60px 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 60px;
  width: 640px;
}

.currency {
  background-color: #548bff;
  color: #fff;
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 10px 5px rgba(21, 21, 23, 0.7);
  box-shadow: 5px 5px 10px 5px rgba(21, 21, 23, 0.7);
}

.currency p {
  margin: 0;
  padding-bottom: 20px;
  font-size: 22px;
}

.currency select {
  padding: 15px 50px 15px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 2px solid #dedede;
  font-size: 18px;
  color: #fff;
  background: transparent;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-position: right 10px top 50%, 0, 0;
  background-size: 12px auto, 100%;
  background-repeat: no-repeat;
  font-weight: bold;
}

.currency select option {
  background-color: #f4f4f4;
  color: #000;
  border: 2px solid #dedede;
  font-weight: 500;
  padding-bottom: 10px;
}

.currency input {
  background: transparent;
  font-size: 24px;
  text-align: right;
  color: #fff;
  border: 0;
  border-bottom: 1px solid #fff;
  margin-left: 20px;
}

.btn {
  color: #fff;
  background-color: var(--secondary-color);
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 20px;
  padding: 12px 12px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn img {
  width: 20px;
  margin-left: 5px;
}

.swap-rate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.rate {
  margin-top: 80px;
  border: 1px solid #fff;
  color: var(--secondary-color);
  font-size: 28px;
  color: #fff;
  padding: 40px 120px;
}

select:focus,
input:focus,
button:focus {
  outline: 0;
}

footer {
  padding: 20px;
}

@media (max-width: 600px) {
  .container {
    text-align: center;
    margin-top: 60px;
    margin-right: 10px;
    margin-left: 10px;
    max-width: 360px;
  }

  .crypto-logo h1 {
    font-size: 26px;
    margin: 0;
  }

  p {
    font-size: 17px;
    margin: auto;
  }

  .crypto-logo img {
    width: 320px;
  }

  .currency input {
    margin-top: 40px;
    margin-right: 30px;
    width: 245px;
  }

  .btn {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
